@import "variables";

.bg-green {
  background-color: $green;
}

.bg-blue {
  background-color: $blue;
}

.bg-red {
  background-color: $red;
}

.bg-grey {
  background-color: $grey;
}

.txt-grey {
  color: $grey;
}