@import "variables";

.range-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 12px;
  background: $light-grey;
  outline: none;
  border: none;
  border-radius: 25px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background: $green;
    cursor: pointer;
  }
}